@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "GeistSans", sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #C3EBFA !important;
  color: black !important;
}

.react-calendar__navigation__label__labelText--from {
  font-weight: 600;
}